/* @font-face {
  font-family: 'almama';
  src: url('./almama2.0.ttf');
} */

@font-face {
  font-family: OPPO-Sans;
  font-weight: 400;
  font-display: swap;
  src: url(//code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Regular.woff2) format('woff2');
}

@font-face {
  font-family: OPPO-Sans;
  font-weight: 500;
  font-display: swap;
  src: url(//code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'dindin';
  src: url('../assets/font/dindinjinbuti/DingTalk_JinBuTi_Regular.woff2');
  /* 优先加载 */
  font-display: swap;
}

@font-face {
  font-family: 'almama';
  src: url('../assets/font/alibaba/Alimama_ShuHeiTi_Bold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'black-Magic';
  src: url('../assets/font/Black-Magic/Black-Magic-2.ttf');
  font-display: swap;
}


@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-Light.woff') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-Regular.woff') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-Medium.woff') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-SemiBold.woff') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-Bold.woff') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../assets/font/FiraCode/FiraCode-Retina.woff') format('truetype');
  font-weight: 800;
}